[Desktop Entry]
Name=Show NMRView
Type=Application
Terminal=false
Exec=/usr/software/connjur/cjrshownmrview
Icon=/usr/share/icons/hicolor/48x48/apps/ConnjurWB.png
Categories=X-All NMRbox software;Science
MimeType=application/connjur-widget-nmrview
