[Desktop Entry]
Name=Show Varian Procpar
Type=Application
Terminal=false
Exec=/usr/software/connjur/cjrshowprocpar
Icon=/usr/share/icons/hicolor/48x48/apps/ConnjurWB.png
Categories=X-All NMRbox software;Science
MimeType=application/connjur-widget-procpar
