Source: connjur-widgets
Section: science
Priority: optional
Maintainer: Michael Gryk <gyrk@uchc.edu> 
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://www.nmrbox.org
Vcs-Git: https://github.com/CONNJUR/CONNJUR_widget.git
Vcs-Browser: https://github.com/CONNJUR/CONNJUR_widgets.git

Package: connjur-widgets
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A series of graphical widgets.  
   A series of graphical widgets.  
   Source directory: https://github.com/CONNJUR/CONNJUR_widgets
XB-Nmrbox-Software: connjur-widgets 
XB-Nmrbox-Version: 1 

Package: connjur-widgets-data
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Example data for connjur-widgets. 
	Example data for connjur-widgets. 
XB-Nmrbox-Software: connjur-widgets 
XB-Nmrbox-Version: 1 
